<form action="/patients" method="post">
  <label for="">Name</label>
  <input type="text" name="name">
  <label for="">Surname</label>
  <input type="text" name="surname">
  <label for="">Contact Details</label>
  <input type="text" name="contact_details">  
  <label for="">Address</label>
  <input type="text" name="address">
  <label for="">Medicare Number</label>
  <input type="text" name="medicare_number">
  <label for="">Date of Birth</label>
  <input type="text" name="date_of_birth">
  <label for="">Height</label>
  <input type="text" name="height">
  <label for="">Weight</label>
  <input type="text" name="weight">
  <label for="">Blood Type</label>
  <input type="text" name="blood_type">
  <button>Add</button>
</form>