<div class="sidebar">
  
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
  <a href="/">Home</a><br>
  <a href="/treatment_note">Patient's History</a><br>
  <a href="/new_pt">New Patient</a><br>
</div>
<span style="font-size:20px; cursor:pointer" onclick="openNav()">&#9776;Dashboard</span>
<br><br>

<h1>Treatment Notes</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae pariatur similique totam in, ipsam laborum labore impedit laboriosam sed? Ex dolor numquam perferendis, odit aspernatur corrupti! Aperiam et vitae minus est. Voluptatem eius corrupti quaerat voluptates, minima ut vero modi at deserunt dolorum necessitatibus, quo voluptatum eligendi esse amet officiis error sunt accusantium placeat. Qui culpa voluptatum laudantium voluptatem eligendi quisquam! Dicta officia ea aliquid voluptatibus id! Consectetur hic cupiditate repellat quaerat sunt vel necessitatibus quis iusto, mollitia possimus sed.</p>

<div class="grid">
    <div class="leftside">

        <form action="/notes" method="post">
        <label for="">Objective notes: </label>
        <input class="input" type="text" name="correspondence"><br><br>
        <label for="">Results: </label>
        <input class="input" type="text" name="results"><br><br>
        <label for="">Evaluation: </label>
        <input class="input" type="text" name="case_notes"><br><br>
        <button>Add</button>
        </form>
    </div>
    <div></div>
</div>
