
<div class="sidebar">
    Patient ID:  <%= patient['id'] %>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
    <a href="#">Medication History</a><br>
    <a href="#">Medical History</a><br>
    <a href="#">Correspondence</a><br>
    <a href="#">Results</a><br>
    <a href="#">Case Notes</a><br>
</div>
<span style="font-size:20px; cursor:pointer" onclick="openNav()">& #9776;Dashboard</span>

<script>
    function openNav() {
        document.querySelector('.sidebar').style.width = "250px";
    }

    function closeNav() {
        document.querySelector('.sidebar').style.width = "0";
    }
</script>