
<h3>Medication History</h3>

<%= treatment_note['medication_history'] %>

<h3>Medical History</h3>

<%= treatment_note['medical_history'] %>

<h3>correspondence</h3>

<%= treatment_note['correspondence'] %>

<h3>Results</h3>

<%= treatment_note['results'] %>

